@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;

    background: #212121;
    color: #666;
}

.app {
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap {
    width: 500px;
}

$height: 46px;

.select {
    width: 100%;
    position: relative;
    z-index: 10;
    &._open {
        .select__dropdown {
            display: block;
        }
        .select__input {
            border-bottom: none;
        }
        .select__backdrop {
            display: block;
        }
    }
    &__input {
        border: 2px solid #212121;
        height: $height;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;

        cursor: pointer;

        box-shadow: 4px 4px 8px 0 rgba(#141414, 0.3), -4px -4px 8px 0 rgba(#3a3a3a, 0.3);
    }
    &__dropdown {
        position: absolute;
        display: none;
        padding: 1rem;
        top: $height + 12px;
        left: 0;
        right: 0;
        max-height: 200px;
        overflow-y: auto;

        border: 2px solid #212121;
        border-radius: 5px;
        box-shadow: 7px 7px 16px 0 rgba(#141414, 0.3), -7px -7px 16px 0 rgba(#3a3a3a, 0.3);
        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__backdrop {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        display: none;
    }

    &__item {
        padding: 1rem;
        border-bottom: 1px solid #212121;
        border-radius: 5px;
        &._selected {
            background: rgba(#202020, 0.7);
        }
        &:hover {
            background: #212121;
            cursor: pointer;
            transform: 0.15s all ease;
            box-shadow: 4px 4px 6px 0 rgba(#111, 0.4), -4px -4px 6px 0 rgba(#3a3a3a, 0.4);
        }
        &:active {
            box-shadow: inset 4px 4px 6px 0 rgba(#111, 0.4),
                inset -4px -4px 6px 0 rgba(#3a3a3a, 0.4);
        }
    }
}
